@page
@model ModelExamen.Pages.AddModel
@{
    <div class="container">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Zbor.AeroportPlecare" class="control-label">Aeroport plecare</label>
                <input asp-for="@Model.Zbor.AeroportPlecare" class="form-control" value="@Model.Zbor.AeroportPlecare" />
                <span asp-validation-for="@Model.Zbor.AeroportPlecare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Zbor.AeroportDestinatie" class="control-label">Aeroport sosire</label>
                <input asp-for="@Model.Zbor.AeroportDestinatie" class="form-control" value="@Model.Zbor.AeroportDestinatie" />
                <span asp-validation-for="@Model.Zbor.AeroportDestinatie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Zbor.Durata" class="control-label">Durata (ore)</label>
                <input asp-for="@Model.Zbor.Durata" class="form-control" value="@Model.Zbor.Durata" />
                <span asp-validation-for="@Model.Zbor.Durata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Zbor.Data" class="control-label">Data</label>
                <input asp-for="@Model.Zbor.Data" class="form-control" />
                <span asp-validation-for="@Model.Zbor.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Zbor.PilotId" class="control-label">Pilot</label>
                <select asp-for="@Model.Zbor.PilotId" asp-items="@Model.Piloti" class="form-control"></select>
                <span asp-validation-for="@Model.Zbor.PilotId" class="text-danger"></span>
            </div>
            <br />
            <button class="btn btn-primary" type="submit">Adauga</button>
            <a class="btn btn-danger" asp-page="/Index">Anuleaza</a>
            <br />
        </form>
    </div>
}
