@page
@model IndexModel
@using ModelExamen.Models;
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <h1 class="display-4 text-center">Zboruri</h1>
    @if (Model.Zboruri.Length == 0)
    {
        <p class="alert-danger">Nu exista zboruri.</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Plecare</th>
                    <th>Destinatie</th>
                    <th>Data plecare</th>
                    <th>Ore de zbor</th>
                    <th>Pilot</th>
                    <th>Actiuni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Zbor zbor in Model.Zboruri)
                {
                    <tr>
                        <td>@zbor.AeroportPlecare</td>
                        <td>@zbor.AeroportDestinatie</td>
                        <td>@zbor.Data.ToString("dd/MM/yyyy")</td>
                        <td>@zbor.Durata</td>
                        <td>@zbor.Pilot.Nume</td>
                        <td>
                            <a asp-page="/Edit" asp-route-zborId=@zbor.ZborId class="btn btn-sm btn-primary">Modifica</a>
                            <a asp-page="/Delete" asp-route-zborId=@zbor.ZborId class="btn btn-sm btn-danger">Sterge</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div class="row text-center">
        <a asp-page="/Add" class="btn btn-primary">Adauga zbor</a>
    </div>
</div>
